<app-revenue></app-revenue>



<app-customers-revenue></app-customers-revenue>


<app-bestcustomer></app-bestcustomer>



<!-- <div class="requests">

    <div class="newuser">
        <h2>New Users</h2>
        
        <ul>
            <li *ngFor="let customer of customers">
                {{customer.c_custkey}}
                {{customer.c_name}}
               
            </li>
        </ul>
    </div>

    <div class="approve">
        <h2>Approve</h2>
        <div class="approval-item">
            <span>joe doe</span>
            <button>Approval</button>
        </div>
        <div class="approval-item">
            <span>Loise Doe</span>
            <button>Approval</button>
        </div>
        <div class="approval-item">
            <span>Jayson Duff</span>
            <button>Approval</button>
        </div>
        <div class="approval-item">
            <span>Andrew Taite</span>
            <button>Approval</button>
        </div>

    </div>
</div> -->



<app-informationkunde></app-informationkunde>


<app-topcustomerbyoder></app-topcustomerbyoder>

